html, body {
  background-color: #f8f8f8; }

/* HEADER  */
.head {
  width: 100%;
  height: 60px;
  background-color: #f8f8f8; }

.nav2 > img {
  margin-top: 18px; }

.line {
  height: 1px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #9c9c9c; }

.nav {
  margin-top: 18px;
  margin-left: 40px; }

@font-face {
  font-family: Gotham Pro;
  src: url(../assets/fonts/GothaProBla.otf); }

#burger {
  width: 26px;
  height: 19px;
  margin-top: 22px;
  margin-right: 10px;
  background-image: url("../assets/img/icon_burger-grey.png");
  background-size: cover;
  display: none; }

#burger:hover {
  cursor: pointer; }

/* ARTICLE */
article {
  background-color: #f8f8f8; }

.menu > li {
  list-style-type: none;
  margin-top: 30px; }

.menu > li > a {
  list-style-type: none;
  color: #6F767F; }

.avatar > img {
  margin-top: 30px; }

.avatar > p {
  margin-top: 15px;
  color: #6F767F; }

input {
  border: 0;
  width: 100%;
  background-color: #f8f8f8; }

div.input {
  border: solid 1px #6F767F;
  width: 50%;
  text-align: left;
  padding: 5px;
  margin-top: 3px;
  font-size: 9px; }

.input2 {
  font-size: 12px; }

input:focus {
  outline: none !important;
  border: 1px solid #A18E76;
  background-color: #f8f8f8; }

#button {
  margin-top: 15px;
  border: 1px solid #a28f77;
  border-radius: 10px;
  background-color: #f8f8f8;
  width: 40%;
  padding: 10px;
  color: #a28f77; }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  div.input {
    width: 60%; }
  #list {
    display: none; }
  #button {
    width: 50%;
    margin-top: 30%; }
  #burger {
    display: block; }
  .menu > li {
    text-align: center; }
  ul.menu {
    padding-left: 0; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .list {
    display: none; }
  div.input {
    width: 80%; }
  #button {
    width: 60%;
    margin-top: 30%; }
  #burger {
    display: block; } }
